@import url(https://fonts.googleapis.com/css2?family=Nanum+Myeongjo&family=Reenie+Beanie&family=Shadows+Into+Light+Two&display=swap);
@import url(https://fonts.googleapis.com/css?family=Righteous);
@import url(https://fonts.googleapis.com/css2?family=Abhaya+Libre&display=swap);
@import url(https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap);

.cardContent {
    max-width: 55%;
    position: relative;
    margin: 2% auto;
    box-shadow: 0 0 20px #000;
    padding: 2%;
    font-family: 'Shadows Into Light Two', serif;
    border-style: dashed;
    border-width: 1%;
    border-color: #FC7750 ;
    background-color: #fcedd8;
    font-size: 150% !important;
}

.classHola {
    font-family: 'Shadows Into Light Two', cursive;
    font-size: 250% !important;
    text-align: center;
}

.classGustos{
    text-align: center;
    font-size: 150%;
}

