body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-wrap: wrap;
  font-size: 100%; 
}

.mainBackground{
  background-image: url(./images/background.jpg) !important;
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;
}

.backgroundQuote {
  background-image: url(./images/background2.png) !important;
  background-repeat: no-repeat;
  background-position: bottom left;
  background-attachment: fixed;
  background-size: cover;
}

.backgroundAboutMe {
  background-image: url(./images/standing.png);
  background-repeat: no-repeat;
  background-position: bottom right;
  background-attachment: fixed;
  background-size: 18%;
}

.backgroundForm {
  background-image: url(./images/sobreformulario.png);
  background-repeat: no-repeat;
  background-position: bottom right;
  background-attachment: fixed;
  background-size: 35%;
}

.backgroundIniciativa {
  background-image: url(./images/livingroom.png);
  background-repeat: no-repeat;
  background-position: bottom right;
  background-attachment: fixed;
  background-size: 25%;
}

.mainContainer{
  min-height: 100%;
}

.containerSuperior{
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  margin-bottom: 2%;
}

.header-container{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around
}

.nav-container{
    font-size: 150%;
    text-transform: uppercase;
    color: #d60000;
    font-weight: bold;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navlink {
    border-bottom-left-radius: 15px 255px;
    border-bottom-right-radius: 225px 15px;
    border-top-left-radius: 255px 15px;
    border-top-right-radius: 15px 225px;
    transition: all 235ms ease 0s;
    box-shadow: 15px 28px 25px -18px rgba(0, 0, 0, 0.2);
    transition: all 235ms ease-in-out 0s;
    color: #41403e;
    color: var(--primary);
    border-color: #41403e;
    border-color: var(--primary);
    background-color: var(--main-background);
    align-self: center;
    background-image: none;
    border-style: solid;
    border-width: 2px;
    cursor: pointer;
    display: inline-block;
    font-size: 1rem;
    outline: none;
    padding: 0.75rem;
    margin:1%;
    text-align: center;
    font-family: 'Righteous', serif;
}

.buttonContainer{
  max-height: 10%;
  display: flex;
  align-content: flex-end;
  justify-content: end;
  margin-right: 5%;
}

#get-another-quote-button {
  text-decoration: none;
  color: white;
  border-color: #FC7750;
  padding: 0.5%;
  font-weight: bold;
  background: #FC7750;
  margin-left: 85%;
  border-bottom-left-radius: 15px 255px;
  border-bottom-right-radius: 225px 15px;
  border-top-left-radius: 255px 15px;
  border-top-right-radius: 15px 225px;
  transition: all 235ms ease 0s;
  box-shadow: 15px 28px 25px -18px rgba(0, 0, 0, 0.2);
  transition: all 235ms ease-in-out 0s;
  font-family: 'Righteous', serif;
}

.footerContainer{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-end;
  justify-content: space-between;
  align-self: center;
  width: 100%;
  position: fixed;
  bottom: 0;
}

.quotesCant {
  position: fixed;
  margin-left: 60%;
}

@media only screen and (max-width: 767px) {
  body {
    background-image: url(./images/background.jpg) !important;
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-wrap: wrap;
    font-size: 100%; 
  }
}